.xRfyOZzsLyGgUG5Bprxz {
  color: red;
}

.HvuT1I32sv9DM2V6Yf9g {
  width: min-content;
  padding: 8px;
  margin: 8px 0;
  white-space: nowrap;
}

.X28R0ZZGzcNRAkzzqoWQ {
  background-color: #e44242;
}

.H2ZG_sRuQwIizNVVsTp_ {
  background-color: #f99f4a;
}

.aibyF4Z1e7SKZ95JfBsP {
  background-color: #1493ff;
}

.U7n0clrycSoaefOcxBij {
  background-color: #36c565;
}

.F7umyZg0rvE7gBnaoXLF {
  background-color: #36c565;
}
